checkpoint_file = "/glade/derecho/scratch/jshen/prune_base/l1_new/checkpoints/last.tar"
output_dir = "/glade/derecho/scratch/jshen/prune_base/l1_new/checkpoints/"

wandb_id = "rclr0hp3"

[model]
model_type = "EncoderDecoderViT"
img_size = 256
patch_size = 4
tubelet_size = 2
in_chans = 2
encoder_embed_dim = 192
encoder_depth = 4
encoder_num_heads = 4
decoder_embed_dim = 96
decoder_depth = 4
decoder_num_heads = 4
mlp_ratio = 4.0
num_frames = 2
num_out_frames = 1
patch_recovery = "subpixel_conv"

[train_dataset]
data_dir = '/glade/derecho/scratch/dpatel/2DTurbData/results/Re5000_fkx0fky4_r0.1_b20/NoSGS/NX256/dt0.0002_IC1'
frame_range = [ [200000, 210000], [995000, 1004998], ]
target_step = 3
input_step = 3
stride = 1
num_frames = 2

[validation_dataset]
data_dir = '/glade/derecho/scratch/dpatel/2DTurbData/results/Re5000_fkx0fky4_r0.1_b20/NoSGS/NX256/dt0.0002_IC1'
frame_range = [ [310000, 312000], ]
target_step = 3
input_step = 3
stride = 1
num_frames = 2

[pruning]
importance_metric = 'l1'
prune_schedule = [0.00, 0.06]
epoch_schedule = [ 192,  192]

[finetuning]
num_rollout_steps = 1
restart_optimizer = true
batch_size = 16
lr = 0.00002
weight_decay = 1e-6
warmup_start_factor = 0.01
warmup_epochs = 2
plateau_factor = 0.5
plateau_patience = 3
early_stop_lr_threshold = 2e-8