checkpoint_file = "/glade/derecho/scratch/jshen/pruning-turbulence-vit/simple_vit_0_l1/checkpoints/last.tar"
output_dir = "/glade/derecho/scratch/jshen/pruning-turbulence-vit/simple_vit_0_l1/checkpoints"
wandb_id = "6hhkv7ts"

[model]
img_size = 256
patch_size = 4
embed_dim = 128
depth = 8
num_heads = 4
num_frames = 2

[train_dataset]
data_dir = '/glade/derecho/scratch/dpatel/2DTurbData/results/Re5000_fkx0fky4_r0.1_b20/NoSGS/NX256/dt0.0002_IC1'
frame_range = [ [200000, 210000], [995000, 1004998], ]
target_step = 3
input_step = 3
stride = 1
num_frames = 2

[validation_dataset]
data_dir = '/glade/derecho/scratch/dpatel/2DTurbData/results/Re5000_fkx0fky4_r0.1_b20/NoSGS/NX256/dt0.0002_IC1'
frame_range = [ [310000, 312000], ]
target_step = 3
input_step = 3
stride = 1
num_frames = 2

[pruning]
importance_metric = 'l1'
prune_schedule = [0.06, 0.06, 0.06, 0.06, 0.06, 0.06, 0.06, 0.06]
epoch_schedule = [128,  128,  128,  128,  128,  128,  128,  128]

[finetuning]
num_rollout_steps = 1
restart_optimizer = true
batch_size = 16
lr = 0.00002
weight_decay = 1e-6
warmup_start_factor = 0.01
num_warmup_epochs = 2
plateau_factor = 0.5
plateau_patience = 2
early_stop_lr_threshold = 1e-6
