checkpoint_file = "/glade/derecho/scratch/jshen/pruning-turbulence-vit/simple_vit_0/checkpoints/best.tar"

[model]
img_size = 256
patch_size = 4
embed_dim = 128
depth = 8
num_heads = 4
num_frames = 2

[train_dataset]
data_dir = '/glade/derecho/scratch/dpatel/2DTurbData/results/Re5000_fkx0fky4_r0.1_b20/NoSGS/NX256/dt0.0002_IC1'
frame_range = [ [200000, 210000], [995000, 1004997], ]
target_step = 3
input_step = 3
stride = 1
num_frames = 2

[validation_dataset]
data_dir = '/glade/derecho/scratch/dpatel/2DTurbData/results/Re5000_fkx0fky4_r0.1_b20/NoSGS/NX256/dt0.0002_IC1'
frame_range = [ [310000, 312000], ]
target_step = 3
input_step = 3
stride = 1
num_frames = 2
